.ck.ck-toolbar{
    background: #3a445e !important;
    border: none;
}
.ck-reset_all :not(.ck-reset_all-excluded *), .ck.ck-reset_all {
 color: #ede7e7 !important;
}
.ck.ck-button:not(.ck-disabled):hover, a.ck.ck-button:not(.ck-disabled):hover {
    background: #171c30 !important;
}
.ck.ck-editor__main>.ck-editor__editable{
    background: #3a445e !important;
}
.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    border-color: #171c30 !important;
    border-inline: 0px !important;
}
.ck.ck-media-form{
    background: #171c30 !important;
}
.ck.ck-input{
    background: #3a445e !important;
}
.ck.ck-input:focus{
    box-shadow: none !important;
}
.ck.ck-labeled-field-view>.ck.ck-labeled-field-view__input-wrapper>.ck.ck-label {
  background: #3e5186 !important;
}
.ck.ck-content.ck-editor__editable{
    color: #ede7e7 !important;
}
.massage{
flex-direction: column;
 width: 100%;
 height: 100vh;
 color: #7a8195;
 overflow: hidden;
}
.massage__navbar{
 width: 100%;
 padding-left: 20px;
 height: 60px;
 border-left: 2px solid #3a445e;
}
.massage__content {
 width: 100%;
 height: 100%;
 overflow: hidden;
}
.massage__list{
 width: 0;
 flex:0;
 border: 2px solid #3a445e;
 border-bottom: none;
 transition: 0.5s;
 transition-property: width;
 overflow: hidden;
}
.massage__list.active{
 flex: 1.3;
 width: fit-content;
 transition: 0.5s;
 transition-property: width flex;

}
.massage__viewBox .massege-arrow{
 transform: rotate(180deg);
 transition: 0.5s;
}
.massage__list.active ~ .massage__viewBox .massege-arrow{
 transform: rotate(0deg) !important;
 transition: 0.5s;
}
.massage__viewBox{
 flex: 2;
 border: 2px solid #3a445e;
 border-inline: none;
 flex-direction: column;
 
}

.massage__viewBox__editBox {
 padding: 20px;
 padding-left: 10px;
 display: flex;
 justify-content: space-between;
}
.massage__viewBox__editBox svg {
 margin-inline: 10px;
}
.massage__list__searchBox{
 height: 60px;
 border-bottom: 2px solid #3a445e;
 position: relative;
}
.massage__list__selectBox{
 position: relative;
}
.massage__list__selectBox .svg--arrow{
 content: '';
 position: absolute;
 right: 5px;
 width: 20px;
 top: 50%;
 transform: translateY(-45%);
}
option{
background: #262C46;
 font: inherit;
 border: none;
}
.massage__list__searchBox select {
 background: transparent;
 outline: none;
 border: none;
 margin: 10px;
 color: #fff;
 font-weight: 400;
 width: 130px;
 font-size: 17px;
 cursor: pointer;
 appearance: none;
 z-index: 1000;
}
.svg--icon{
 width: 20px;
}
.svg--close--arrow{
 position: absolute;
 right: 10px;
 top: 50%;
 transform: translateY(-50%);
}
.massage__viewBox__massegeBox {
 margin: 10px;
 padding: 10px;
 margin-top: 0;
 height: 100%;
 overflow-y: auto;
 background: #171c30;
}
.massage__box{
 width: 100%;
 height: 90%;
 flex-direction: column;
 overflow-y: auto;
}
.test{
 width: 100%;
 display: grid;
 place-items: center;
 
 margin: 7.5px;
 border: 2px dashed #3e5186;
}
.Massege__Area{
 padding: 10px;
 margin-top: 10px;
}
.Massege__Area p{
 color: #c9c8c8;
}
.massage__navbar__search {
 height: 100%;
 /* flex: 1; */
 width: 50%;
 padding: 12px 10px;
}
.massage__navbar__search input {
 height: 100%;
 /* width: 201px; */
 width: 100%;
 border: none;
 max-width: 300px;
 border-left: 2px solid #0db8d3;
 border-radius: 4px;
 background: #343a5c;
 padding-inline: 10px;
 outline: none;
}
button.send-massage-btn {
    display: grid;
    place-items: center;
    background: #343a5c;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 50%;
    padding: 5px;
    margin-left: auto;
}
button.send-massage-btn:hover{
    background: #3e5186;
}
